#wrapper{
  background-color: green;
  width:1425px;
  height: 735px

}
#one{
  float: left;
  background-color: blue;
  width:300px;
  height:290px;
padding-top: 10px;
margin: 10px 200px 0px 200px;
}

#two{
  float: right;
  background-color: red;
  width:300px;
  height:290px;
  padding-top: 10px;
  margin: 10px 200px 0px 100px;
}

#three{
  background-color: yellow;
  width:300px;
  height:300px;
  margin-left: 562.5px;
  clear:both;
}
